.gallery {
  &__container {
    padding: $whitespace-80 0;
    position: relative;

    @include forMobile {
      padding: calc($whitespace-40 + 15px) 0;
    }

    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      top: calc($whitespace-80 + 30px);
      left: 0;
      margin-top: -60px;
      width: 100%;
      height: 60px;
      background-color: #fff;
      border-radius: 100%;

      @include forMobile {
        top: calc($whitespace-40 + 60px);
        height: 30px;
      }
    }

    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      bottom: calc($whitespace-80 - 30px);
      left: 0;
      margin-top: -60px;
      width: 100%;
      height: 60px;
      background-color: #fff;
      border-radius: 100%;

      @include forMobile {
        bottom: calc($whitespace-40);
        height: 30px;
      }
    }
  }

  &__images {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__image-container {
    position: relative;
    width: 400px;
    height: 400px;
    aspect-ratio: 1;
    font-size: 0;

    @media (max-width: 768px) {
      width: 296px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    transition: filter 300ms;

    &:hover {
      filter: grayscale(0);
    }
  }
}
