header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.8);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  height: $height-header;

  &__logo {
    width: auto;
    height: auto;
  }

  &__nav {
    display: flex;
    gap: 16px;
  }

  &__nav-item {
    position: relative;
    padding: 8px 12px;
    line-height: 24px;
    border-bottom: 1px solid transparent;

    &:last-child {
      padding-right: 0;
      border: none;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100% + 12px);
        height: 0.5px;
        background: none;
      }

      &:hover:after {
        background: $gradient-instagram;
      }
    }
  }

  &__nav-item:hover, .active {
    border-color: $color-gray;
  }
}