header {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: $color-white-rgba;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  height: $height-header;

  @include forMobile {
    height: $height-header-mobile;
  }

  &__logo {
    z-index: 999;

    img {
      width: auto;
      height: auto;

      @include forMobile {
        width: 56px;
        margin-top: 8px;
      }
    }
  }
}
