header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.8);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  height: $height-header;

  &__logo {
    width: auto;
    height: auto;
  }

  &__nav {
    display: flex;
    gap: 16px;
  }

  &__nav-item {
    position: relative;
    padding: 8px 12px;
    line-height: 24px;
    border-bottom: 1px solid transparent;

    &:last-child {
      padding-right: 0;
      border: none;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100% + 12px);
        height: 0.5px;
        background: none;
      }

      &:hover:after {
        background: $gradient-instagram;
      }
    }
  }

  &__nav-item:hover, .active {
    border-color: $color-gray;
  }
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
