.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  padding: $whitespace-80 0;

  &__unit:last-child {
    margin: 0 auto;
  }

  &__unit {
    width: 462px;
    min-width: 462px;
  }

  &__unit-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    padding: 24px 32px;

    &-row {
      display: flex;
      justify-content: space-between;

      &:first-child {
        padding-bottom: 12px;
        border-bottom: 1px solid $color-white;
      }
    }

    &-cell {
      text-align: center;
      font-size: 18px;
      line-height: 1.3;

      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:last-child {
        width: 20%;
      }
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $gradient;
      opacity: 0.5;
      filter: blur(100px);
    }
  }
}