.hamburger-menu-button {
  z-index: 999;
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;

  @include forTablet {
    display: block;
  }

  span {
    position: absolute;
    width: 20px;
    height: 1.5px;
    background-color: $color-black;
    border-radius: 2px;
    transition: all 500ms;

    &:nth-child(1) {
      top: 3.75px;
      left: 2px;
    }

    &:nth-child(2) {
      top: 11.25px;
      left: 2px;
    }

    &:nth-child(3) {
      top: 18.75px;
      left: 2px;
    }
  }


  &--open {
    span:nth-child(1) {
      left: 1.25px;
      top: 11px;
      transform: rotate(-45deg);
      width: 22.5px;
    }

    span:nth-child(2) {
      left: 1.25px;
      top: 11px;
      transform: rotate(45deg);
      width: 22.5px;
    }

    span:nth-child(3) {
      opacity: 0;
    }
  }
}
