.marquee-container {
  width: 100%;
  height: $height-header;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  overflow: hidden;
  user-select: none;

  @include forMobile {
    height: $height-header-mobile;
  }
}


.marquee {
  .child {
    span {
      font-size: 24px;
      text-transform: uppercase;
      padding-right: 30px;
      font-feature-settings: "pnum" on, "lnum" on;

      &:nth-child(2n) {
        font-weight: 600;
      }

      @include forMobile {
        font-size: 18px;
      }
    }

    &:nth-child(2n) {
      font-weight: 600;
    }
  }
}
