$color-black: #141414;
$color-gray: #9C9C9C;
$color-white: #F6F6F6;
$color-white-rgba: rgba(254, 254, 254, 0.9);

$gradient: linear-gradient(180deg,
  rgba(151, 71, 255, 0.5) 0%,
  rgba(181, 64, 194, 0.5) 14.83%,
  rgba(202, 60, 151, 0.5) 26.91%,
  rgba(209, 58, 136, 0.5) 37.93%,
  rgba(217, 56, 119, 0.5) 50.01%,
  rgba(221, 55, 111, 0.5) 55.78%,
  rgba(226, 54, 102, 0.5) 62.5%,
  rgba(255, 48, 42, 0.43) 79.69%,
  rgba(255, 48, 42, 0.5) 100%
);

$gradient-instagram: linear-gradient(90deg,
  #9747FF 0%,
  #B156E9 12.55%,
  #C964D5 24.44%,
  #CD60A6 32.97%,
  #E973B0 41.81%,
  #EB7AA6 55.22%,
  #F192FA 65.27%,
  #F776EA 78.07%,
  rgba(255, 42, 208, 0.65) 88.74%,
  #FF2AD0 100%
);

$gradient-footer: linear-gradient(61deg, #E2BEF0 0%, #FEBDBD 98.96%);


$height-header: 72px;
$height-header-mobile: 40px;

$whitespace-80: 80px;
$whitespace-60: 60px;
$whitespace-40: 40px;
$whitespace-30: 30px;

$width-flex-40: 42%;
$width-flex-60: 58%;
