$color-black: #141414;
$color-gray: #9C9C9C;


$gradient: linear-gradient(180deg,
  rgba(151, 71, 255, 0.5) 0%,
  rgba(181, 64, 194, 0.5) 14.83%,
  rgba(202, 60, 151, 0.5) 26.91%,
  rgba(209, 58, 136, 0.5) 37.93%,
  rgba(217, 56, 119, 0.5) 50.01%,
  rgba(221, 55, 111, 0.5) 55.78%,
  rgba(226, 54, 102, 0.5) 62.5%,
  rgba(255, 48, 42, 0.43) 79.69%,
  rgba(255, 48, 42, 0.5) 100%
);
